.directions {
  position: relative;
  padding: 229px 0 193px;

  &__img-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 1426px;
    }
  }

  &__wrapper {
    h2 {
      margin: 0;
      margin-bottom: 58px;
      font-size: 40px;
      line-height: 50px;
      font-weight: 700;
      color: $color-night-rider;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 47px 18px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 414px;
    min-height: 425px;
    background-color: $color-default-white;
    border-radius: 56px;

    @include hover-focus {
      h3 {
        color: $color-default-white;
      }

      .directions__item-content {
        color: $color-default-white;

        span:nth-of-type(2n + 1) {
          &::after {
            background-color: $color-default-white;
          }
        }
      }
    }
  }

  &__item--design {
    @include hover-focus {
      background-color: $color-maya-blue;
    }
  }

  &__item--programming {
    @include hover-focus {
      background-color: $color-tickle-me-pink;
    }
  }

  &__item--management {
    @include hover-focus {
      background-color: $color-your-pink;
    }
  }

  &__item--analytics {
    @include hover-focus {
      background-color: $color-carnation-pink;
    }
  }

  &__item--marketing {
    @include hover-focus {
      background-color: $color-macaroni-and-cheese;
    }
  }

  &__item--finance {
    @include hover-focus {
      background-color: #6cb7f2;
    }
  }

  &__item-inner {
    padding: 55px 15px 55px 20px;
  }

  &__item-header {
    position: relative;
    margin-bottom: 76px;
    padding: 12px 0 12px 97px;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    h3 {
      margin: 0;
      font-size: 25px;
      line-height: 30px;
      font-weight: 500;
      color: #2f2828;
    }
  }

  &__item-list {
    padding: 0 0 0 10px;
    list-style: none;
  }

  &__item-content {
    color: #6b6b6b;
    span {
      font-size: 17px;
      line-height: 29px;
    }

    span:nth-of-type(2n + 1) {
      position: relative;
      margin-right: 40px;

      &::after {
        position: absolute;
        right: -27px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 15px;
        height: 15px;
        mask-image: url("../img/svg/icon-star.svg");
        background-color: #6b6b6b;
      }
    }
  }

  // &__item-dark-grey {
  //   color: #6b6b6b;
  // }

  &__item-grey {
    opacity: 0.8;
  }

  &__item-light-grey {
    opacity: 0.6;
  }

  &__item-silver {
    opacity: 0.4;
  }

  &__item-light-silver {
    opacity: 0.2;
  }
}
