.banner-card {
  display: none;

  @include vp-767 {
    position: relative;
    display: block;
    width: 280px;
    padding: 232px 20px 39px;
    background-color: $color-magnolia;
    border: 1px solid #eeeeee;
    border-radius: 34px;
    box-shadow: 0 4px 20px 0 rgba(134, 134, 134, 0.06);
  }

  &__inner {
    display: flex;
    column-gap: 50px;
    min-height: 648px;

    @include vp-1279 {
      column-gap: 20px;
    }

    @include vp-767 {
      column-gap: 0;
      min-height: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 425px;
    flex-shrink: 0;

    @include vp-1279 {
      flex-basis: 360px;
    }

    @include vp-1023 {
      flex-basis: 300px;
    }

    @include vp-767 {
      flex-basis: 100%;
    }
  }

  &__img {
    @include vp-767 {
      position: absolute;
      width: 280px;
      left: 0;
      top: -46px;
    }
  }

  &--users {
    .banner-card__img {
      @include vp-767 {
        top: -80px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 0 70px 0 20px;

    @include vp-1023 {
      padding: 0 20px;
    }

    @include vp-767 {
      row-gap: 14px;
      padding: 0;
    }

    span {
      font-size: 30px;
      line-height: 36px;
      font-weight: 800;
      color: $color-royal-blue;
      text-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);

      @include vp-1023 {
        font-size: 26px;
        line-height: 32px;
      }

      @include vp-767 {
        font-size: 18px;
        line-height: 22px;
      }
    }

    p {
      margin: 0;
      line-height: 26px;
      color: $color-black-russian;

      @include vp-767 {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &__switching {
    display: flex;
    align-items: flex-end;

    @include vp-767 {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-basis: 630px;
    row-gap: 47px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-1279 {
      row-gap: 30px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 23px 116px 23px 110px;
    background-color: $color-snow;
    box-shadow: 0 3px 31px 0 rgba(112, 144, 176, 0.02);
    border-radius: 30px;
    cursor: pointer;

    @include vp-1279 {
      padding: 23px 20px 23px 100px;
    }

    @include vp-1023 {
      padding: 20px;
    }

    &::before {
      position: absolute;
      top: 23px;
      left: 27px;
      content: "";
      width: 59px;
      height: 59px;
      background-color: $color-magnolia;
      border: 1px solid $color-white-smoke;
      border-radius: 20px;

      @include vp-1023 {
        display: none;
      }
    }

    h3 {
      margin: 0;
      font-size: 25px;
      line-height: 40px;
      font-weight: 400;
      color: $color-seal-brown;

      @include vp-1023 {
        font-size: 21px;
        line-height: 28px;
      }
    }

    p {
      margin: 0;
      line-height: 26px;
      color: #747474;

      @include vp-1023 {
        font-size: 14px;
        line-height: 21px;
      }
    }

    svg {
      fill: #655bd5;
    }

    &--users {
      svg {
        position: absolute;
        top: 38px;
        left: 46px;
        content: "";

        @include vp-1023 {
          display: none;
        }
      }
      // &::after {
      //   position: absolute;
      //   top: 38px;
      //   left: 46px;
      //   content: "";
      //   width: 25px;
      //   height: 25px;
      //   mask-image: url("../img/svg/icon-for-users.svg");
      //   background-color: #655bd5;

      //   @include vp-1023 {
      //     display: none;
      //   }
      // }
    }

    &--courses {
      svg {
        position: absolute;
        top: 42px;
        left: 46px;
        content: "";

        @include vp-1023 {
          display: none;
        }
      }
      // &::after {
      //   position: absolute;
      //   top: 42px;
      //   left: 46px;
      //   content: "";
      //   width: 21px;
      //   height: 21px;
      //   mask-image: url("../img/svg/icon-for-courses.svg");
      //   background-color: #655bd5;

      //   @include vp-1023 {
      //     display: none;
      //   }
      // }
    }

    &--mentors {
      svg {
        position: absolute;
        top: 42px;
        left: 49px;
        content: "";

        @include vp-1023 {
          display: none;
        }
      }
      // &::after {
      //   position: absolute;
      //   top: 42px;
      //   left: 49px;
      //   content: "";
      //   width: 14px;
      //   height: 21px;
      //   mask-image: url("../img/svg/icon-for-mentors.svg");
      //   background-color: #655bd5;

      //   @include vp-1023 {
      //     display: none;
      //   }
      // }
    }

    &.is-active {
      background-color: $color-royal-blue;
      pointer-events: none;

      &::before {
        background-color: #567ae4;
        border: none;
      }

      svg {
        fill: $color-default-white;
      }

      h3 {
        color: $color-default-white;
      }

      p {
        color: $color-perano;
      }
    }

    @include hover-focus {
      background-color: $color-solitude;

      &::before {
        background-color: #edf2ff;
      }

      svg {
        fill: $color-portage;
      }
    }
  }
}

.is-open {
  display: block;
}
