// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-accent-main: #2c39f2;
$color-accent-second: #212121;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-snow:                        #fafafa;
$color-silver:                      #bababa;
$color-whisper:                     #ececec;
$color-seal-brown:                  #181515;
$color-nobel:                       #9e9e9e;
$color-cornflower-blue:             #678cf8;
$color-royal-blue:                  #486dd8;
$color-magnolia:                    #f8f7fc;
$color-dim-gray:                    #6f6e6e;
$color-suva-gray:                   #898989;
$color-night-rider:                 #302828;
$color-black-russian:               #252830;
$color-white-smoke:                 #f0f0f0;
$color-perano:                      #97b2fe;
$color-nero:                        #222222;
$color-solitude:                    #dde6ff;
$color-portage:                     #839dfb;
$color-maya-blue:                   #82b4ff;
$color-tickle-me-pink:              #ff89ad;
$color-your-pink:                   #ffccbd;
$color-carnation-pink:              #ff9ebb;
$color-macaroni-and-cheese:         #ffb985;
$color-very-light-grey:             #cfcfcf;
$color-gainsboro:                   #e1e1e1;
// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-inter:                    "Inter", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
